SERVER_HOST=127.0.0.1
SERVER_PORT=8081

API_KEY=

COUNTRY=dbip-country
CITY=dbip-city
ASN=dbip-asn

UPDATE_ON_RESTART=1

DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=db_username
DB_PASS=db_password
DB_NAME=ip